.header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: $padding-small;

    & .wrapper {
        @media only screen and (max-width: $media-small) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__logo {
        display: inline-block;
        position: relative;
        z-index: 8;
    }

    &__menu {
        display: none;
        height: 3.5rem;
        width: 5rem;
        cursor: pointer;
        position: relative;
        z-index: 8;

        @media only screen and (max-width: $media-small) {
            display: inline-block;
        }

        &__line {
            height: .35rem;
            width: 100%;
            background-color: $color-white;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}