.header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 2;
    padding: $padding-small;

    &__logo {
        display: inline-block;
    }

    &__menu {
        display: none;
        height: 3.5rem;
        width: 5rem;
        cursor: pointer;

        &__line {
            height: .35rem;
            width: 100%;
            background-color: $color-white;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}