//Colors
$color-white: #fff;
$color-black: #1a1a1a;
$color-black-lighter: #1f1f1f;
$color-blue: #1e3799;
$color-green: #78e08f;
$color-purple: #833471;

//Fonts
$sans-serif: 'Open Sans', sans-serif;
$font-monospace: 'Share Tech Mono',;

//Paddings
$padding-small: 5rem 0rem;
$padding-medium: 10rem 0rem;
$padding-large: 12rem 0rem;

//Transition
$transition: all .3s ease-in-out;

//Breakpoints
$media-small: 480px;
$media-medium: 768px;
$media-large: 992px;
$media-extra-large: 1200px;