//Colors
$color-white: #fff;
$color-black: #1a1a1a;
$color-black-lighter: #1f1f1f;

//Fonts
$sans-serif: 'Open Sans', sans-serif;
$font-monospace: 'Inconsolata', monospace;

//Paddings
$padding-small: 5rem 0rem;
$padding-medium: 10rem 0rem;
$padding-large: 12rem 0rem;

//Transition
$transition: all .3s ease-in-out;