* {
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;

    &::after,
    &::before {
        margin: 0%;
        padding: 0%;
        box-sizing: content-box;
        position: absolute;
    }
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $color-black;
}

.wrapper {
    width: 120rem;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media only screen and (max-width: $media-small) {
        width: 90%;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
}

.preloader {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 13;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    transition: $transition;

    &__item {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        border: 1rem solid  $color-black-lighter;
        border-top-color: $color-blue;
        box-shadow: 1px 1px 20px 5px rgba($color-blue, .35);
        animation: spin 1.5s infinite linear;
    }
}

.pointer {
    display: block;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 2px solid $color-blue;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    transform-origin: 100% 100%;
}