@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

html {
    font-size: 62.5%;

    @media only screen and (max-width: $media-small) {
        font-size: 50%;
    }
}

body {
    font-family: $sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: $color-white;
    line-height: 120%;
}

a {
    text-decoration: none;
    color: $color-white;
    cursor: none;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1em;}
h5 {font-size: .83em;}
h6 {font-size: .67em;}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-monospace;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.header {
    &__logo {
        font-size: 3.6rem;
        font-family: $font-monospace;
        font-weight: 400;
    }
}

.nav {
    & a {
        font-size: 1.8rem;
        text-transform: capitalize;
        line-height: 160%;
    }
}

.hero {
    &__text--big {
        font-size: 7.6rem;
        display: inline-block;
        font-family: $font-monospace;
        line-height: 160%;
        font-weight: 700;
        margin-bottom: 2rem;
        position: relative;
        width: 998px;
        user-select: none;
        text-transform: capitalize;

        @media only screen and (max-width: $media-small) {
            width: 90%;
            font-size: 5.6rem;
            margin-top: 20rem;
        }
        
        &::after {
            content: attr(data-text);
            left: .2rem;
            text-shadow: -.3rem 0 $color-purple;
            top: 0rem;
            color: $color-white;
            background-color: $color-black;
            overflow: hidden;
            animation: noise-anim 2s infinite linear alternate-reverse;
        }

        &::before {
            display: inline-block;
            content: attr(data-text);
            left: -.2rem;
            text-shadow: .3rem 0 $color-green;
            top: 0rem;
            color: $color-white;
            background-color: $color-black;
            overflow: hidden;
            animation: noise-anim-2 15s infinite linear alternate-reverse;
        }
    }

    &__text--small {
        font-size: 2.6rem;
        color: $color-white;
        text-transform: capitalize;
        font-weight: 300;
    }

    &__social--link {
        color: rgba($color-white, .6);
        font-size: 2.5rem;
        font-weight: 700;
        font-family: $font-monospace;
        transition: $transition;
        text-transform: uppercase;

        &:hover {
            color: $color-white;
        }

        &:not(:last-child) {
            margin-bottom: 2.5rem;
            @media only screen and (max-width: $media-small) {
                margin-bottom: 0;
                margin-right: 2.5rem;
            }
        }
    }
}

.work--name {
    font-size: 2rem;
    font-family: $sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

[data] {
    font-family: $font-monospace;
}