.about {
    padding: $padding-medium;
    position: relative;

    &::after {
        content: 'about';
        @include sectionText;
    }

    & .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}